<!-- {{display.value}}  -->


<!-- <div *ngFor="let dis of mapped">
   {{dis.value}}
</div>  -->


<table class="table">
    <thead>
        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dis of arr">
            <td *ngFor="let diss of mapped">
                {{diss.value}}
            </td>
        </tr>
    </tbody>
</table>

<!-- //first commitcjwd -->

<!-- second commit -->



<!-- <button (click)="method()">SAVE</button> -->

<!-- FIRST NAME: {{ FIRSTNAME }}
<br>
Last NAME: {{ LASTNAME }}
<br>
AGE: {{ AGE }} -->
 