<!-- <table>
  <tr>
    <th *ngFor="let col of columns">{{col.title}}</th>
  </tr>
  <tbody>
    <tr *ngFor="let data of datas">
      <td *ngFor="let col of columns">{{getData(data, col.data)}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <app-addrow></app-addrow>
<app-dynamically></app-dynamically> -->

<ul>
  <li>
    <a routerLink="addrow">Add Row</a>
  </li>
  <li>
    <a routerLink="addrowstoredata">Add Row Store Data</a>
  </li>
  <li>
    <a routerLink="dynamically">Dynamically</a>
  </li>
  <li>
    <a routerLink="addremove">Add Remove</a>
  </li>
  <li>
    <a routerLink="storedata">Fetch Data</a>
  </li>
  
</ul>

<router-outlet></router-outlet>